div{
    border: 1px solid black;
}
.big_box{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.bg{
    background-color: gray;
}

.flex-container_head{
    display: flex;
} 
.flex-container_head>div{
    background-color: darkgray;
    font-size: 1rem;
    padding: 5px;
    margin: 10px;
    flex-basis: 70px;
}
.flex-container_content{
    display: flex;
}
.menu{
    flex-grow: 1;
}
.contentArea{
    flex-grow: 9;
}
.menu>div{
    background-color: darkgray;
    font-size: 1rem;
    padding: 5px;
    margin: 10px;
    flex-basis: 70px;
}